@font-face {
    font-family: 'Quicksand';
    src: url('../font/quicksand/Quicksand-Light.eot');
    src: url('../font/quicksand/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/quicksand/Quicksand-Light.woff2') format('woff2'),
        url('../font/quicksand/Quicksand-Light.woff') format('woff'),
        url('../font/quicksand/Quicksand-Light.ttf') format('truetype'),
        url('../font/quicksand/Quicksand-Light.svg#Quicksand-Light') format('svg');
    /* font-weight: 300; */
    font-style: normal;
    font-display: swap;
}

/* Reset Browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}